.aside {
	position: absolute;
	width: 16em;
	right: 0;
	font-family: 'Helvetica Neue', 'Arial', 'sans serif';
	color: #999;
	display: none;


	p {
		font-size: 0.8em;
	}

	code {
		background-color: #f9f9f9;
		border: none;
		font-size: 1em;
		color: #666;
	}
}