<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
	<title>Ractive.js - next-generation DOM manipulation</title>

	<link rel='icon' type='image/png' href='favicon.png'>

	<link rel='stylesheet' href='min.css'>

	<!--[if lte IE 8]>
		<script src='assets/respond.min.js'></script>
		<script src='assets/html5shiv.min.js'></script>
	<![endif]-->
</head>

<body>

	<%= nav('blog') %>

	<header>
		<h1>Ractive.js blog</h1>
	</header>

	<main>
		[[#recentPosts]]
			<article class='preview'>
				<header class='post-header'>
					<h1><a class='stealth' href='posts/[[slug]]'>[[title]]</a></h1>
					<p class='meta'>[[day]] [[monthName]] [[year]] <span class='bullet'>&bull;</span> <a href='posts/[[slug]]#disqus_thread' data-disqus-identifier='[[slug]]'>Comments</a></p>
				</header>

				[[#poster]]
					<a href='posts/[[slug]]'><img alt='[[caption]]' class='poster' src='assets/images/[[src]]'></a>
				[[/poster]]

				[[#preview]]
					[[[preview]]]
					<p class='continue'><a href='posts/[[slug]]'>Continue reading &raquo;</a></p>
				[[/preview]]

				[[^preview]]
					[[[content]]]
				[[/preview]]
			</article>
		[[/recentPosts]]
	</main>

	<%= footer %>

	<%= analytics("UA-5602942-5","ractivejs.org") %>

	<script>
		// Disqus
		var disqus_shortname = 'ractivejs'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
		var s = document.createElement('script'); s.async = true;
		s.type = 'text/javascript';
		s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
		(document.head || document.body).appendChild(s);
		}());
	</script>

	<script src='assets/prettify.js'></script>
	<script>
		prettyPrint();
	</script>

</body>
</html>
