<!doctype html>
<html>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
	<title>[[post.title]] | Blog | Ractive.js</title>

	<link rel='icon' type='image/png' href='../../assets/favicon.png'>

	<link rel='stylesheet' href='../../min.css'>

	<!--[if lte IE 8]>
		<script src='../../js/respond.min.js'></script>
	<![endif]-->

	[[#post.styles]]
	<style type='text/css'>
		[[post.styles]]
	</style>
	[[/post.styles]]
</head>

<body>

	<%= nav('blog') %>

	[[#post]]
		<header class='post-header'>
			<h1>[[title]]</h1>
			<p class='meta'>
				[[#authorUrl]]<a href='[[authorUrl]]'>[[author]]</a>[[/authorUrl]]
				[[^authorUrl]][[author]][[/authorUrl]]
				<span class='bullet'>&bull;</span> [[day]] [[monthName]] [[year]] <span class='bullet'>&bull;</span> <a href='#disqus_thread' data-disqus-identifier='[[slug]]'>Comments</a>
			</p>
		</header>

		<main>
			<article class='post'>
				[[#poster]]
					<figure class='poster'>
						[[#url]]
							<a href='[[url]]'><img class='poster' alt='[[caption]]' src='../../assets/images/[[src]]'></a>
						[[/url]]

						[[^url]]
							<img alt='[[caption]]' src='../../assets/images/[[src]]'>
						[[/url]]

						[[#caption]]
							<figcaption>
								[[[caption]]]
							</figcaption>
						[[/caption]]
					</figure>
				[[/poster]]

				[[[content]]]

			</article>

			<section class='comments'>
				<div id="disqus_thread"></div>
				<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
			</section>
		</main>
	[[/post]]

	<%= footer %>


	<script>
		// Google Analytics
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-5602942-5', 'ractivejs.org');
		ga('send', 'pageview');


		// Disqus
		var disqus_shortname = 'ractivejs';
		var disqus_identifier = '[[post.slug]]';
		var disqus_url = 'http://blog.ractivejs.org/posts/[[post.slug]]';

		(function() {
		    var s = function (url) {
		    	var scr = document.createElement('script'); scr.type = 'text/javascript'; scr.async = true;
		    	scr.src = url;
		    	(document.head || document.body).appendChild(scr);
		    };
		    s('//ractivejs.disqus.com/embed.js');
		    s('//ractivejs.disqus.com/count.js');
		})();
	</script>

	<script src='../../assets/prettify.js'></script>
	<script>
		prettyPrint();
	</script>

	[[#post.dependencies]]
		<script src='../../js/[[this]]'></script>
	[[/post.dependencies]]

	[[#post.script]]
		<script src='script.js'></script>
	[[/post.script]]

</body>
</html>
